debug: false
management.endpoints.web.exposure.include: "*" #spring actuator? endpoint? ??? ??? ?? ??? ???? ??
logging:
  level:
    com.example.boardservice: debug
    org.springframework.web.servlet: debug #request, response? ?? ??? ? ? ?? ??
    org.hibernate.type.descriptor.sql.BasicBinder: trace # ?? ???? ?? ?? ???? ??

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: inderby
    password: aksen8253?
    driver-class-name:  com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    defer-datasource-initialization: true #???? ??????? ????  ??? ??? ? ?? ??? ??
    hibernate.ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100 #n+1 ??? solution
  sql.init.mode: always
  data.rest:
      base-path: /api
      detection-strategy: annotated
  thymeleaf3:
    decoupled-logic: true

#---
#spring:
#  config.activate.on-profile: testdb
#  datasource:
#    url: jdbc:h2:mem:board;mode=mysql
#    driver-class-name: org.h2.Driver
#  sql.init.mode: always
#  test.database.replace: none

